.wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

#divChart {
        height: 200px;
}

#divChart2 {
        width: 400px;
}

#divChart3 {
        width: 400px;
}