

.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-full {
    height: 100%;
  }
  
  .opacity-40 {
    opacity: 0.4;
  }
  
  .pointer-events-none {
    pointer-events: none;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 10px;
  }
  